<section class="faq layout--text">
  <h1 class="article-title faq__title"><%= t('pages_nav.faqs') %></h1>
  <div class="flex flex--column">
    <div class="faq__container">
      <% @faqs.each_with_index do |faq, index| %>
        <div class="faq__item flex flex--between">
          <p class="faq__question"><%= faq.question %></p>
          <button class="faq__button">
            <%= inline_svg 'icons/plus.svg', class: "faq__icon faq__icon--plus" %>
            <%= inline_svg 'icons/minus.svg', class:"faq__icon faq__icon--minus" %>
          </button>
        </div>
        <div class="faq__answer"><%= faq.answer %></div>
        <hr
          style="height:1px;border-width:0;color:gray;background-color:gray"
        />
      <% end %>
    </div>
  </div>
</section>

<script>
  const faqButtons = document.querySelectorAll(".faq__button");
  const answers = document.querySelectorAll(".faq__answer");
  const plusIcons = document.querySelectorAll(".faq__icon--plus");
  const minusIcons = document.querySelectorAll(".faq__icon--minus");

  faqButtons.forEach((button, index) => {
    button.addEventListener("click", () => {
      if (
        answers[index].style.maxHeight === "0px" ||
        answers[index].style.maxHeight === ""
      ) {
        answers[index].style.maxHeight = answers[index].scrollHeight + "px";
        plusIcons[index].style.display = "none";
        minusIcons[index].style.display = "block";
      } else {
        answers[index].style.maxHeight = "0px";
        plusIcons[index].style.display = "block";
        minusIcons[index].style.display = "none";
      }
    });
  });
</script>
