<section
  id="prostori"
  class="spaces layout--padded--double layout--text flex flex--column"
>
  <h2 class="article-title spaces__title">Prostori</h2>
  <p class="spaces__text">
    Come and see the violence inherent in the system. Help! Help! I'm being
    repressed! What is the capital of Assyria? Oh, king eh? Very nice. And how'd
    you get that, eh? By exploiting the workers. By hanging on to outdated
    imperialist dogma which perpetuates the economic and social differences in
    our society.
  </p>
  <div class="grid-container">
    <% @spaces.each do |space| %>
      <div class="grid-item">
        <div class="space">
          <div class="image-cointainer">
            <%= image_tag space.featured_image.image_url(:medium), class: "space__image" unless space.featured_image.blank? %>
          </div>
          <div class="space__text">
            <p>Prostor</p>
            <%= link_to space_path(space) do %>
              <p class="space__name"><%= space.name %></p>
            <% end %>
            <div class="space__price">
              <%= surface(space.surface_area) %> -
              <%= humanized_money_with_symbol(space.book_price) %>/h
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<script>
  $(document).ready(function () {
    function scaleTextToFit() {
      const gridItems = document.querySelectorAll(".grid-item");

      gridItems.forEach((gridItem) => {
        const spaceName = gridItem.querySelector(".space__name");
        const spaceText = gridItem.querySelector(".space__text");
        const containerWidth = spaceText.offsetWidth;
        let fontSize = 6;

        spaceName.style.fontSize = fontSize + "rem";

        while (spaceName.offsetWidth > containerWidth && fontSize > 1) {
          fontSize -= 0.5;
          spaceName.style.fontSize = fontSize + "rem";
        }
      });
    }

    window.addEventListener("load", scaleTextToFit);
    window.addEventListener("resize", scaleTextToFit);
  });
</script>
