<% content_for :image, image_url(@space.featured_image.image_url(:medium)) %>
<% content_for :description, seo_description((@space.description.strip_tags.truncate(120, separator: ' '))) %>
<% content_for :title, "Stara Pekara - " + @space.name %>
<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <% unless @space.space_images.blank? %>
        <% @space.space_images.each do |image| %>
          <li class="glide__slide">
            <%= link_to image_tag(image.image), image_url(image.image), data: {lightbox: 'space', title: @space.name} %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="space-page layout--text layout--padded--double flex flex--column">
  <h1 class="article-title">
    <%= @space.name %>
  </h1>
  <p>
    <%= @space.description.html_safe %>
  </p>
  <div class="space-offers flex">
    <div class="space-offer flex flex--column">
      <span><%= surface(@space.surface_area) %></span>
      <div class="space-offer__text">na raspolaganju</div>
    </div>
    <% if  @space.bookable %>
      <div class="space-offer flex flex--column">
        <span><%= humanized_money_with_symbol(@space.book_price) %></span>
        <div class="space-offer__text">po terminu</div>
      </div>
    <% end %>
  </div>
  <% if  @space.rentable %>
    <p>
      <span><%= humanized_money_with_symbol(@space.rent_price) %></span>
      mjesečno
    </p>
  <% end %>
  <div class="flex flex--center">
    <% if @space.available %>
      <%= link_to t('space.rent_monthly', price: humanized_money_with_symbol(@space.rent_price)), new_space_rent_request_space_path(@space), class: 'section__button btn btn--primary btn--spacing' if @space.rentable %>
      <%= link_to t('space.rent_hourly', price: humanized_money_with_symbol(@space.book_price)), booking_general_space_path(@space), class: 'section__button btn btn--primary btn--spacing' if @space.bookable %>
    <% else %>
      <%= t('space.unavailable') %>
    <% end %>
  </div>
</div>

<script>
  new Glide(".glide", {
    type: "carousel",
    perView: 2,
    focusAt: "center",
    gap: 10,
  }).mount();
</script>
