<section id="o-nama" class="about layout--padded--double layout--text">
  <h2 class="article-title"><%= t('pages_nav.about') %></h2>
  <article class="about__text">
    <%= @page_content.about_project.html_safe %>
  </article>
  <%= render 'home/gallery' if @page_content.gallery_images.any? %>
</section>
