<section id="kontakt" class="section layout--padded--double">
  <h2 class="article-title"><%= t('pages_nav.contact') %></h2>
  <div class="contact">
    <div class="contact__text">
      <div class="contact__title">Adresa<br /></div>
      Trg Vatroslava Lisinskog 11<br />
      31000 Osijek, Hrvatska<br />
    </div>
    <div class="contact__text">
      <div class="contact__title">Telefon<br /></div>
      <%= link_to '+385 (0)31 229 181', 'tel:+38531229181' %>
    </div>
    <div class="contact__text">
      <div class="contact__title">E-mail<br /></div>
      <%= mail_to 'info@starapekara.eu', 'info@starapekara.eu' %>
    </div>
  </div>
</section>
