<div class="gallery">
  <% @page_content.gallery_images.each_with_index do |gallery_image, index| %>
    <% if index < 3 %>
      <div class="gallery__image">
        <a
          href="<%= image_url(gallery_image.image_url(:large)) %>"
          data-lightbox="gallery"
          data-title="<%= resolve_image_alt(gallery_image) %>"
        >
          <%= image_tag(gallery_image.image_url(:medium), alt: resolve_image_alt(gallery_image)) %>
        </a>
      </div>
    <% elsif index == 3 %>
      <div class="gallery__image gallery__image--last">
        <a
          href="<%= image_url(gallery_image.image_url(:large)) %>"
          data-lightbox="gallery"
          data-title="<%= resolve_image_alt(gallery_image) %>"
        >
          <%= image_tag(gallery_image.image_url(:medium), alt: resolve_image_alt(gallery_image)) %>
        </a>
        <div class="gallery__text flex flex-align__center flex--center">
          <a
            href="<%= image_url(gallery_image.image_url(:large)) %>"
            data-lightbox="gallery"
            data-title="<%= resolve_image_alt(gallery_image) %>"
            class="flex flex--center flex-align--center"
          >
            <span class="remaining-count">
              +<%= @page_content.gallery_images.size - 3 %>
            </span>
          </a>
        </div>
      </div>
    <% end %>
  <% end %>
  <% @page_content.gallery_images.each_with_index do |gallery_image, index| %>
    <% if index > 3 %>
      <a
        href="<%= image_url(gallery_image.image_url(:large)) %>"
        data-lightbox="gallery"
        data-title="<%= resolve_image_alt(gallery_image) %>"
        style="display: none;"
      ></a>
    <% end %>
  <% end %>
</div>
