<section class="news layout--padded--double layout--text">
  <h2 class="news__title article-title"><%= t('pages_nav.posts') %></h2>
  <div class="flex flex--column">
    <div class="flex flex--center news--post">
      <%= image_tag @post.image_url(:medium) %>
      <div class="flex flex--column flex-align--start">
        <h2 class="news--post__title"><%= @post.title %></h2>
        <p class="news--post__text">
          <%= @post.summary %>
        </p>
        <p class="news--post__timestamp">
          <%= post_timestamp(@post.publish_at) %>
        </p>
      </div>
    </div>
    <%= link_to t('post.see_other_posts'), posts_path, class: 'section__button btn btn--primary' %>
  </div>
</section>
