<section class="layout--text documents">
  <h1 class="documents__heading article-title">
    <%= t('pages_nav.documents') %>
  </h1>
  <div class="documents__container flex flex--column">
    <% @documents.each do |document| %>
      <div class="document flex flex--between">
        <div class="document__name"><%= document.name %></div>
        <%= link_to document.file_url, target: '_blank', class: 'document__button' do %>
          <%= inline_svg 'icons/download.svg', class: 'document__icon' %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
