<% content_for :title, "#{@legal_page.name.truncate(40, divider:" ")}" %>
<% content_for :og_title, "#{@legal_page.resolve_seo_title}" %>
<% content_for :author, 'KCOS' %>
<% content_for :type, 'article' %>
<% content_for :keywords, @legal_page.seo_keywords %>
<% content_for :description, @legal_page.resolve_seo_description %>
<% content_for :edit_link, admin_legal_page_path(@legal_page) %>
<% content_for :edit_meta_tags_link, admin_legal_page_path(@legal_page, tab: 1) %>
<div class="layout--text">
  <h1 class="article-title"><%= @legal_page.title %></h1>
  <article>
    <%= @legal_page.content.html_safe %>
  </article>
</div>
