/*------------------------------------*\
** FOOTER
\*------------------------------------*/

.footer {
  &__image {
    margin-top: 10rem;
  }
}

/*------------------------------------*\
** COPYRIGHT
\*------------------------------------*/

.copyright {
  background: none;
  color: $black;
  text-align: center;
}

// CREATE A STICKY FOOTER WITH FLEXBOX
