/* STICKY HEADER */

.sticky-header.sticky-header--down {
  transform: translateY(-100%);
  transition: transform 0.3s;
  background-color: $white--true;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  box-shadow: none;
}

.sticky-header.sticky-header--up {
  transform: translateY(0);
  transition: transform 0.3s;
  background-color: $white--true;
  box-shadow: 0 1px 10px 0 rgba(22, 22, 22, 0.1);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.sticky-header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: transparent;
  box-shadow: none;
  transition: all 0.3s;
}

.header {
  background-color: $color-primary;
  width: 100%;
  height: 100vh;
  padding: 0.625rem;

  img {
    max-width: 13.75rem;
    width: 100%;
    margin-top: auto;
    margin-bottom: 1.5rem;
  }

  &__title {
    color: #fff;
    margin-bottom: 1.5rem;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__text {
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__arrow {
    margin-top: auto;

    img {
      display: block;
    }
  }
}
