.nav__links {
  gap: 1.5rem;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: -350px;
  width: 350px;
  padding: 7.5rem 1.5rem;
  transition: right 0.5s;
  background-color: $color-primary;
  overflow: auto;

  .nav__link {
    font-size: 1.5rem;

    &--small {
      font-size: 1.125rem;
    }
  }

  a {
    text-decoration: none;
    font-weight: 400;
    color: #fff;
  }

  &.active {
    right: 0;
  }
}

.nav__text {
  color: #fff;
  font-size: 14px;
}
