/*------------------------------------*\
** GLOBAL
\*------------------------------------*/

html {
  font-family: $base-font-family;
  line-height: $base-line-height;
  color: $base-font-color;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;

  &.offset-top {
    margin-top: 4rem;

    @include breakpoint($large) {
      margin-top: 6rem;
    }
  }
}

main {
  min-height: calc(100vh - 70px);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
