<div id="posts" class="flex flex--column">
  <% posts.each do |post| %>
    <div class="post flex flex--center flex-align--center">
      <%= image_tag post.image_url(:medium) %>
      <div class="post__info flex flex--column flex-align--start">
        <%= link_to post_path(post) do %>
          <p class="link"><%= post.title %></p>
        <% end %>
        <div class="summary">
          <%= post.summary %>
        </div>
        <div class="timestamp">
          <%= post_timestamp(post.publish_at) %>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate posts, remote: true %>
</div>
