.about {
  max-width: 59.5rem;
  width: 100%;
  height: auto;

  &__text {
    color: #000;
    max-width: 58.875rem;
    width: 100%;
    height: auto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  &__image {
    flex: 1;
    width: 13.75rem;
    height: 13.75rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image--last {
    position: relative;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 119, 174, 0.5) 0%,
      rgba(0, 119, 174, 0.5) 100%
    );
    font-size: 4.5rem;

    a {
      text-decoration: none;
    }

    span {
      color: #fff;
    }
  }
}
