.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;

  &__title {
    color: $color-primary;
  }

  &__text {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
  }
}
