.documents {
  &__heading {
    padding: 3.75rem 0;
    margin-bottom: 0;
  }

  &__container {
    padding: 3.75rem 0;
  }
}

.document {
  max-width: 59.5rem;
  width: 100%;
  padding: 0.375rem 0.75rem;

  &__name {
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: rgba(0, 119, 174, 0.2);
    }
  }

  &:nth-child(even) {
    background: #fff;
    &:hover {
      background-color: rgba(0, 119, 174, 0.2);
    }
  }

  &__button {
    padding: 0.375rem;
    background-color: $color-primary;
  }

  &__icon {
    width: 1.5rem;
    display: block;
  }
}

@media screen and (max-width: map-get($breakpoints, large)) {
  .documents {
    &__heading {
      margin-top: 5rem;
    }
  }
}
