.faq {
  &__title {
    padding: 3.75rem 0;
    margin-bottom: 0;
  }

  &__container {
    padding: 3.75rem 0;
    max-width: 59.5rem;
    width: 100%;
  }

  &__item {
    padding: 0.375rem 0.75rem;
    gap: 1.5rem;
  }

  &__question {
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.75rem;
  }

  &__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    color: #000;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  &__button {
    display: block;
    padding: 0.375rem;
    background: $color-primary;
    border-radius: 0;
  }

  &__icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__icon--minus {
    display: none;
  }
}

@media screen and (max-width: map-get($breakpoints, large)) {
  .faq {
    margin-top: 5rem;
  }
}
