.posts-heading {
  margin-bottom: 3rem;
}

.news {
  max-width: 59.5rem;
  width: 100%;

  &__title {
    margin-bottom: 3rem;
  }

  &--post {
    gap: 1.5rem;
    max-width: 44.25rem;
    width: 100%;
    margin-bottom: 3rem;

    img {
      width: 21.375rem;
      height: auto;
    }

    &__title {
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.5rem;
      font-family: $base-font-family;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }

    &__text {
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }

    &__timestamp {
      color: rgba(0, 0, 0, 0.6);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }
}

#posts {
  gap: 3rem;
}

.post {
  gap: 1.5rem;
  max-width: 44.25rem;
  width: 100%;

  img {
    width: 21.375rem;
    height: auto;
  }

  &__info {
    gap: 1.125rem;

    a {
      text-decoration: none;
      p {
        color: rgba(0, 0, 0, 0.8);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
      }
    }

    .summary {
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }

    .timestamp {
      color: rgba(0, 0, 0, 0.6);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }
}

.section__button {
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: normal;
  font-style: normal;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.news-page {
  max-width: 44.25rem;
  width: 100%;

  h2 {
    color: rgba(0, 0, 0, 0.8);
    font-family: $base-font-family;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 0.75rem;
  }

  img {
    max-width: 44.25rem;
    width: 100%;
  }

  &__timestamp {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: map-get($breakpoints, large)) {
  .news {
    flex-direction: column;
  }

  .posts-heading {
    margin-top: 5rem;
  }

  .post {
    flex-direction: column;
    max-width: 40rem;
  }
}

@media screen and (max-width: map-get($breakpoints, medium)) {
  .news {
    max-width: 20rem;
  }

  .post {
    flex-direction: column;
    max-width: 20rem;
  }
}
