.spaces {
  max-width: 50rem;

  &__text {
    text-align: center;
    max-width: 44.25rem;
    width: 100%;
    color: #000;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 0;
  }

  &__title {
    margin-bottom: 1.5rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.grid-item {
  position: relative;
}

.space {
  position: relative;
  overflow: hidden;

  .image-cointainer {
    width: 21.375rem;
    height: 21.375rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 119, 174, 0.5) 0%,
      rgba(0, 119, 174, 0.5) 100%
    );
    color: #fff;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    p {
      margin: 0;
      font-size: 2.25rem;
      max-width: 100%;
    }

    a {
      text-decoration: none;

      p {
        font-size: 6rem;
        color: #fff;
        font-family: $heading-font-family;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__price {
    font-size: 1.5rem;
  }
}

.glide {
  padding: 7.5rem 0 3.75rem 0;

  &__slide {
    img {
      max-width: 100%;
      height: auto;
      box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    }

    &--active {
      img {
        max-width: 100%;
        height: auto;
        max-height: 100%;
      }
    }

    &:not(.glide__slide--active) {
      img {
        max-width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
        max-height: 85%;
        margin-top: 2.5rem;
      }
    }
  }
}

.space-page {
  max-width: 59.5rem;
  width: 100%;
  gap: 1.5rem;

  .space-offers {
    max-width: 59.5rem;
    width: 100%;
    gap: 1.5rem;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  .space-offer {
    color: $color-primary;
    border: 1px solid $color-primary;
    padding: 1.5rem;
    width: 100%;

    span {
      color: $color-primary;
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &__text {
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, large)) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .glide {
    margin-top: 5rem;
    margin-bottom: 0;
  }

  .space-offers {
    flex-direction: column;
  }
}
