<header
  id="naslovna"
  class="header flex flex--column flex--center flex-align--center"
>
  <%= image_tag 'logo.svg' %>
  <h1 class="header__title">Stara Pekara</h1>
  <p class="header__text">Edukativni i informativni turistički centar mladih</p>
  <a href="#o-nama" class="header__arrow">
    <%= image_tag('icons/arrow--down.svg', class: 'svg-image', alt: 'Arrow down') %>
  </a>
</header>
