<nav class="nav--desktop">
  <div class="nav-logo-wrapper nav__logo">
    <%= link_to inline_svg('logo.svg'), root_path(anchor: 'naslovna'), class: 'nav-logo' %>
  </div>
  <button class="nav__open">
    <%= image_tag('icons/arrow--left.svg', class: 'svg-image', alt: 'Arrow down') %>
  </button>
  <div class="nav__links flex flex--column flex-align--start">
    <%= render 'layouts/navigation_links' %>
    <div class="nav__text flex flex--column flex-align--start">
      <p>© <%= Time.now.year %>. Stara Pekara</p>
      <p>Sufinancirala Europska unija</p>
    </div>
  </div>
</nav>

<nav class="nav--mobile">
  <div class="flex flex--between">
    <button class="js_burger burger-button">
      <div class="icon--burger"></div>
    </button>
  </div>
  <div class="js_nav_user nav--mobile__content nav__link--wrap">
    <%= render 'layouts/navigation_links' %>
  </div>
</nav>

<script>
  $(document).ready(function () {
    $(".nav__open").on("click", function () {
      $(".nav__links a").toggleClass("active");
      $(".nav__open").toggleClass("active");
    });

    $(".nav__links a").on("click", function () {
      $(".nav__links").toggleClass("active");
      $(".nav__open").toggleClass("active");
    });
  });
</script>
