<div class="nav__link">
  <%= link_to t('pages_nav.home'), root_path(anchor: 'naslovna') %>
</div>
<div class="nav__link">
  <%= link_to t('pages_nav.about'), root_path(anchor: 'o-nama') %>
</div>
<div class="nav__link">
  <%= link_to t('pages_nav.posts'), posts_path %>
</div>
<div class="nav__link">
  <%= link_to t('pages_nav.spaces'), root_path(anchor: 'prostori') %>
</div>
<div class="nav__link">
  <%= link_to t('pages_nav.contact'), root_path(anchor: 'kontakt') %>
</div>
<hr style="width:95%;text-align:left;margin-left:0; color:#fff" />
<% if current_admin %>
  <div class="nav__link nav__link--small">
    <%= active_link_to 'Mailers', '/rails/mailers', class_active: 'is-active' if Rails.env.development? %>
  </div>
  <div class="nav__link nav__link--small">
    <%= link_to "&#129384; Admin".html_safe, admin_root_path unless current_admin.nil? || hide_admin_hud? %>
  </div>
<% end %>
<div class="nav__link nav__link--small">
  <%= active_link_to t('pages_nav.documents'), documents_path, class_active: 'is-active', active: [['documents'], []] %>
</div>
<div class="nav__link nav__link--small">
  <%= active_link_to t('pages_nav.faqs'), faqs_path, class_active: 'is-active', active: [['faqs'], []] %>
</div>
<div class="nav__link nav__link--small">
  <% LegalPage.listed.each do |legal_page| %>
    <%= active_link_to legal_page.name, legal_page, class_active: 'is-active', active: :exact %>
  <% end %>
</div>
<hr style="width:95%;text-align:left;margin-left:0; color:#fff" />
